# Jetbrains
.idea/

# Python
__pycache__/

# Project files
/resources/2020/corpus/raw/
/resources/2020/corpus/zips/
/resources/2019/corpus/raw/
/resources/2019/corpus/zips/



# Indices
elasticsearch/

