# Jetbrains
.idea/

# Python
__pycache__/

# Project files


/venv*/



indexed_files_*.txt




/resources/corpus/2019/
/resources/corpus/2020/
/evaluation/2019/
/evaluation/2020/
/src/training/2019/
/src/training/2020/
/resources/models/2019/
/resources/models/2020/


.ipynb_checkpoints


*.tsv
./src/features/corpus-subset-for-queries.jsonl
